In [1]:
#Import libraries
import pandas as pd
from datetime import datetime

In [2]:
#Read data from csv
df = pd.read_csv('3131.csv')
df

        datetime      open      high       low     close  volume
0     2006-01-02   4566.95   4601.35   4542.00   4556.25     0.0
1     2006-01-03   4531.45   4605.45   4531.45   4600.25     0.0
2     2006-01-04   4619.55   4707.60   4616.05   4694.14     0.0
3     2006-01-05   4714.20   4782.64   4670.55   4760.45     0.0
4     2006-01-06   4767.25   4802.80   4703.10   4755.60     0.0
...          ...       ...       ...       ...       ...     ...
3443  2019-12-18  32292.25  32293.65  32017.30  32244.25     0.0
3444  2019-12-19  32281.65  32328.35  32085.05  32241.45     0.0
3445  2019-12-20  32266.85  32443.35  32199.45  32384.95     0.0
3446  2019-12-23  32381.00  32502.80  32196.85  32339.45     0.0
3447  2019-12-24  32337.80  32390.35  32246.05  32280.75     0.0

[3448 rows x 6 columns]

In [4]:
from datetime import datetime
pd.to_datetime(df['datetime'])

0      2006-01-02
1      2006-01-03
2      2006-01-04
3      2006-01-05
4      2006-01-06
          ...
3443   2019-12-18
3444   2019-12-19
3445   2019-12-20
3446   2019-12-23
3447   2019-12-24
Name: datetime, Length: 3448, dtype: datetime64[ns]

In [5]:
pd.to_datetime(df['datetime']).dt.strftime('%a')

0       Mon
1       Tue
2       Wed
3       Thu
4       Fri
       ...
3443    Wed
3444    Thu
3445    Fri
3446    Mon
3447    Tue
Name: datetime, Length: 3448, dtype: object

In [28]:
#Generating new columns
df['day_num'] = pd.to_datetime(df['datetime']).dt.strftime('%u')
df['day'] = pd.to_datetime(df['datetime']).dt.strftime('%a')
df

        datetime      open      high       low     close  volume day_num  day
0     2006-01-02   4566.95   4601.35   4542.00   4556.25     0.0       1  Mon
1     2006-01-03   4531.45   4605.45   4531.45   4600.25     0.0       2  Tue
2     2006-01-04   4619.55   4707.60   4616.05   4694.14     0.0       3  Wed
3     2006-01-05   4714.20   4782.64   4670.55   4760.45     0.0       4  Thu
4     2006-01-06   4767.25   4802.80   4703.10   4755.60     0.0       5  Fri
...          ...       ...       ...       ...       ...     ...     ...  ...
3443  2019-12-18  32292.25  32293.65  32017.30  32244.25     0.0       3  Wed
3444  2019-12-19  32281.65  32328.35  32085.05  32241.45     0.0       4  Thu
3445  2019-12-20  32266.85  32443.35  32199.45  32384.95     0.0       5  Fri
3446  2019-12-23  32381.00  32502.80  32196.85  32339.45     0.0       1  Mon
3447  2019-12-24  32337.80  32390.35  32246.05  32280.75     0.0       2  Tue

[3448 rows x 8 columns]

In [22]:
df = df.astype({'day_num':'int'})

In [27]:
#Display expiry dates based on the rules given in the assignment
for i in range(0,len(df)):
    if (df.loc[i,'day_num'] == 4):
        #print(df.loc[i,'day_num'])
        print(df.loc[i,'datetime'])
    if(i<3447):
        if ((df.loc[i,'day_num'] == 3) and (df.loc[i+1,'day_num'] != 4)):
            print(df.loc[i,'datetime'])
            #print(df.loc[i,'day_num'])
        elif ((df.loc[i,'day_num'] == 2) and (df.loc[i+1,'day_num'] != 3) and (df.loc[i+1,'day_num'] != 4)):
            print(df.loc[i,'datetime'])
            #print(df.loc[i,'day_num'])

2006-01-05
2006-01-12
2006-01-19
2006-01-25
2006-02-02
2006-02-08
2006-02-16
2006-02-23
2006-03-02
2006-03-09
2006-03-16
2006-03-23
2006-03-30
2006-04-05
2006-04-13
2006-04-20
2006-04-27
2006-05-04
2006-05-11
2006-05-18
2006-05-25
2006-06-01
2006-06-08
2006-06-15
2006-06-22
2006-06-29
2006-07-06
2006-07-13
2006-07-20
2006-07-27
2006-08-03
2006-08-10
2006-08-17
2006-08-24
2006-08-31
2006-09-07
2006-09-14
2006-09-21
2006-09-28
2006-10-05
2006-10-12
2006-10-19
2006-10-26
2006-11-02
2006-11-09
2006-11-16
2006-11-23
2006-11-30
2006-12-07
2006-12-14
2006-12-21
2006-12-28
2007-01-04
2007-01-11
2007-01-18
2007-01-25
2007-02-01
2007-02-08
2007-02-15
2007-02-22
2007-03-01
2007-03-08
2007-03-15
2007-03-22
2007-03-29
2007-04-05
2007-04-12
2007-04-19
2007-04-26
2007-05-03
2007-05-10
2007-05-17
2007-05-24
2007-05-31
2007-06-07
2007-06-14
2007-06-21
2007-06-28
2007-07-05
2007-07-12
2007-07-19
2007-07-26
2007-08-02
2007-08-09
2007-08-16
2007-08-23
2007-08-30
2007-09-06
2007-09-13
2007-09-20
2007-09-27
2007-10-04
2007-10-11
2007-10-18
2007-10-25
2007-11-01
2007-11-08
2007-11-15
2007-11-22
2007-11-29
2007-12-06
2007-12-13
2007-12-20
2007-12-27
2008-01-03
2008-01-10
2008-01-17
2008-01-24
2008-01-31
2008-02-07
2008-02-14
2008-02-21
2008-02-28
2008-03-05
2008-03-13
2008-03-19
2008-03-27
2008-04-03
2008-04-10
2008-04-17
2008-04-24
2008-04-30
2008-05-08
2008-05-15
2008-05-22
2008-05-29
2008-06-05
2008-06-12
2008-06-19
2008-06-26
2008-07-03
2008-07-10
2008-07-17
2008-07-24
2008-07-31
2008-08-07
2008-08-14
2008-08-21
2008-08-28
2008-09-04
2008-09-11
2008-09-18
2008-09-25
2008-10-01
2008-10-08
2008-10-16
2008-10-23
2008-10-29
2008-11-06
2008-11-12
2008-11-20
2008-11-26
2008-12-04
2008-12-11
2008-12-18
2008-12-24
2009-01-01
2009-01-07
2009-01-15
2009-01-22
2009-01-29
2009-02-05
2009-02-12
2009-03-05
2009-03-12
2009-03-19
2009-03-26
2009-04-02
2009-04-09
2009-04-16
2009-04-23
2009-04-29
2009-05-07
2009-05-14
2009-05-21
2009-05-28
2009-06-04
2009-06-11
2009-06-18
2009-06-25
2009-07-02
2009-07-09
2009-07-16
2009-07-23
2009-07-30
2009-08-06
2009-08-13
2009-08-20
2009-08-27
2009-09-03
2009-09-10
2009-09-17
2009-09-24
2009-10-01
2009-10-08
2009-10-15
2009-10-22
2009-10-29
2009-11-05
2009-11-12
2009-11-19
2009-11-26
2009-12-03
2009-12-17
2009-12-24
2009-12-31
2010-01-07
2010-01-14
2010-01-21
2010-01-28
2010-02-04
2010-02-11
2010-02-18
2010-02-25
2010-03-04
2010-03-11
2010-03-18
2010-03-25
2010-04-01
2010-04-08
2010-04-15
2010-04-22
2010-04-29
2010-05-06
2010-05-13
2010-05-20
2010-05-27
2010-06-03
2010-06-10
2010-06-17
2010-06-24
2010-07-01
2010-07-08
2010-07-15
2010-07-22
2010-07-29
2010-08-05
2010-08-12
2010-08-19
2010-08-26
2010-09-02
2010-09-09
2010-09-16
2010-09-23
2010-09-30
2010-10-07
2010-10-14
2010-10-21
2010-10-28
2010-11-04
2010-11-11
2010-11-18
2010-11-25
2010-12-02
2010-12-09
2010-12-16
2010-12-23
2010-12-30
2011-01-06
2011-01-13
2011-01-20
2011-01-27
2011-02-03
2011-02-10
2011-02-17
2011-02-24
2011-03-03
2011-03-10
2011-03-17
2011-03-24
2011-03-31
2011-04-07
2011-04-13
2011-04-21
2011-04-28
2011-05-05
2011-05-12
2011-05-19
2011-05-26
2011-06-02
2011-06-09
2011-06-16
2011-06-23
2011-06-30
2011-07-07
2011-07-14
2011-07-21
2011-07-28
2011-08-04
2011-08-11
2011-08-18
2011-08-25
2011-08-30
2011-09-08
2011-09-15
2011-09-22
2011-09-29
2011-10-05
2011-10-13
2011-10-20
2011-10-26
2011-11-03
2011-11-09
2011-11-17
2011-11-24
2011-12-01
2011-12-08
2011-12-15
2011-12-22
2011-12-29
2012-01-05
2012-01-12
2012-01-19
2012-01-25
2012-02-02
2012-02-09
2012-02-16
2012-02-23
2012-03-01
2012-03-07
2012-03-15
2012-03-22
2012-03-29
2012-04-04
2012-04-12
2012-04-19
2012-04-26
2012-05-03
2012-05-10
2012-05-17
2012-05-24
2012-05-31
2012-06-07
2012-06-14
2012-06-21
2012-06-28
2012-07-05
2012-07-12
2012-07-19
2012-07-26
2012-08-02
2012-08-09
2012-08-16
2012-08-23
2012-08-30
2012-09-06
2012-09-13
2012-09-20
2012-09-27
2012-10-04
2012-10-11
2012-10-18
2012-10-25
2012-11-01
2012-11-08
2012-11-15
2012-11-22
2012-11-29
2012-12-06
2012-12-13
2012-12-20
2012-12-27
2013-01-03
2013-01-10
2013-01-17
2013-01-24
2013-01-31
2013-02-07
2013-02-14
2013-02-21
2013-02-28
2013-03-07
2013-03-14
2013-03-21
2013-03-28
2013-04-04
2013-04-11
2013-04-18
2013-04-25
2013-05-02
2013-05-09
2013-05-16
2013-05-23
2013-05-30
2013-06-06
2013-06-13
2013-06-20
2013-06-27
2013-07-04
2013-07-11
2013-07-18
2013-07-25
2013-08-01
2013-08-08
2013-08-14
2013-08-22
2013-08-29
2013-09-05
2013-09-12
2013-09-19
2013-09-26
2013-10-03
2013-10-10
2013-10-17
2013-10-24
2013-10-31
2013-11-07
2013-11-14
2013-11-21
2013-11-28
2013-12-05
2013-12-12
2013-12-19
2013-12-26
2014-01-02
2014-01-09
2014-01-16
2014-01-23
2014-01-30
2014-02-06
2014-02-13
2014-02-20
2014-02-26
2014-03-06
2014-03-13
2014-03-20
2014-03-27
2014-04-03
2014-04-10
2014-04-17
2014-04-23
2014-04-30
2014-05-08
2014-05-15
2014-05-22
2014-05-29
2014-06-05
2014-06-12
2014-06-19
2014-06-26
2014-07-03
2014-07-10
2014-07-17
2014-07-24
2014-07-31
2014-08-07
2014-08-14
2014-08-21
2014-08-28
2014-09-04
2014-09-11
2014-09-18
2014-09-25
2014-10-01
2014-10-09
2014-10-16
2014-10-23
2014-10-30
2014-11-05
2014-11-13
2014-11-20
2014-11-27
2014-12-04
2014-12-11
2014-12-18
2014-12-24
2015-01-01
2015-01-08
2015-01-15
2015-01-22
2015-01-29
2015-02-05
2015-02-12
2015-02-19
2015-02-26
2015-03-05
2015-03-12
2015-03-19
2015-03-26
2015-04-01
2015-04-09
2015-04-16
2015-04-23
2015-04-30
2015-05-07
2015-05-14
2015-05-21
2015-05-28
2015-06-04
2015-06-11
2015-06-18
2015-06-25
2015-07-02
2015-07-09
2015-07-16
2015-07-23
2015-07-30
2015-08-06
2015-08-13
2015-08-20
2015-08-27
2015-09-03
2015-09-10
2015-09-16
2015-09-24
2015-10-01
2015-10-08
2015-10-15
2015-10-21
2015-10-29
2015-11-05
2015-11-11
2015-11-19
2015-11-26
2015-12-03
2015-12-10
2015-12-17
2015-12-24
2015-12-31
2016-01-07
2016-01-14
2016-01-21
2016-01-28
2016-02-04
2016-02-11
2016-02-18
2016-02-25
2016-03-03
2016-03-10
2016-03-17
2016-03-23
2016-03-31
2016-04-07
2016-04-13
2016-04-21
2016-04-28
2016-05-05
2016-05-12
2016-05-19
2016-05-26
2016-06-02
2016-06-09
2016-06-16
2016-06-23
2016-06-30
2016-07-07
2016-07-14
2016-07-21
2016-07-28
2016-08-04
2016-08-11
2016-08-18
2016-08-25
2016-09-01
2016-09-08
2016-09-15
2016-09-22
2016-09-29
2016-10-06
2016-10-13
2016-10-20
2016-10-27
2016-11-03
2016-11-10
2016-11-17
2016-11-24
2016-12-01
2016-12-08
2016-12-15
2016-12-22
2016-12-29
2017-01-05
2017-01-12
2017-01-19
2017-01-25
2017-02-02
2017-02-09
2017-02-16
2017-02-23
2017-03-02
2017-03-09
2017-03-16
2017-03-23
2017-03-30
2017-04-06
2017-04-13
2017-04-20
2017-04-27
2017-05-04
2017-05-11
2017-05-18
2017-05-25
2017-06-01
2017-06-08
2017-06-15
2017-06-22
2017-06-29
2017-07-06
2017-07-13
2017-07-20
2017-07-27
2017-08-03
2017-08-10
2017-08-17
2017-08-24
2017-08-31
2017-09-07
2017-09-14
2017-09-21
2017-09-28
2017-10-05
2017-10-12
2017-10-19
2017-10-26
2017-11-02
2017-11-09
2017-11-16
2017-11-23
2017-11-30
2017-12-07
2017-12-14
2017-12-21
2017-12-28
2018-01-04
2018-01-11
2018-01-18
2018-01-25
2018-02-01
2018-02-08
2018-02-15
2018-02-22
2018-03-01
2018-03-08
2018-03-15
2018-03-22
2018-03-28
2018-04-05
2018-04-12
2018-04-19
2018-04-26
2018-05-03
2018-05-10
2018-05-17
2018-05-24
2018-05-31
2018-06-07
2018-06-14
2018-06-21
2018-06-28
2018-07-05
2018-07-12
2018-07-19
2018-07-26
2018-08-02
2018-08-09
2018-08-16
2018-08-23
2018-08-30
2018-09-06
2018-09-12
2018-09-19
2018-09-27
2018-10-04
2018-10-11
2018-10-17
2018-10-25
2018-11-01
2018-11-07
2018-11-15
2018-11-22
2018-11-29
2018-12-06
2018-12-13
2018-12-20
2018-12-27
2019-01-03
2019-01-10
2019-01-17
2019-01-24
2019-01-31
2019-02-07
2019-02-14
2019-02-21
2019-02-28
2019-03-07
2019-03-14
2019-03-20
2019-03-28
2019-04-04
2019-04-11
2019-04-18
2019-04-25
2019-05-02
2019-05-09
2019-05-16
2019-05-23
2019-05-30
2019-06-06
2019-06-13
2019-06-20
2019-06-27
2019-07-04
2019-07-11
2019-07-18
2019-07-25
2019-08-01
2019-08-08
2019-08-14
2019-08-22
2019-08-29
2019-09-05
2019-09-12
2019-09-19
2019-09-26
2019-10-03
2019-10-10
2019-10-17
2019-10-24
2019-10-31
2019-11-07
2019-11-14
2019-11-21
2019-11-28
2019-12-05
2019-12-12
2019-12-19